<link rel="stylesheet" href="../public/css/about.css">

<div class="main-content">
  <div class="container">
    <h1>Tentang Kami</h1>
    <p>Sejarah UMKM</p>
    <div class="content">
      <p><strong>UD. CAHAYA SAYUR</strong> adalah UMKM yang bergerak di bidang perdagangan. Berdiri pada tahun 2000, UMKM ini beralamat di Pasar Wangon, Kecamatan Wangon, Kabupaten Banyumas, Jawa Tengah, Indonesia.</p>
      <p>UD. CAHAYA SAYUR didirikan dengan tujuan untuk memenuhi kebutuhan pasar akan sayuran segar dengan kualitas terbaik. Kami selalu berusaha untuk menjadi seproduktif dan seefisien mungkin dalam beroperasi, dengan meminimalkan dampak negatif terhadap lingkungan dan masyarakat sekitar.</p>
      <p>Visi kami adalah untuk memberikan solusi terbaik bagi pelanggan dengan menyediakan produk berkualitas tinggi dengan harga yang kompetitif. Melalui usaha yang tekun dan inovatif, UD. CAHAYA SAYUR telah menjadi pilihan utama bagi banyak konsumen dalam memenuhi kebutuhan sayuran segar di daerah ini.</p>
    </div>
  </div>
</div>

<footer class="footer">
    <div class="container text-center">
        <p>&copy; 2024 Product App. All Rights Reserved.</p>
    </div>
</footer>
