<link rel="stylesheet" href="../public/css/login.css">
<div class="signup-container">
    <div class="card">
        <a href="#" class="navbar-logo">CahayaSayur<span>AR</span></a>
        <h1>Login</h1>
        <p>Please log in to your account.</p>
        <form action="/login" method="POST">
            <div class="form-group">
                <input type="text" placeholder="Username" id="username" name="username" required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" id="password" name="password" required>
            </div>
            <div class="desk">
                <p>Belum punya akun? <a href="/signup">Daftar di sini</a>.</p>
            </div>
            <div class="desk">
                <p><a href="/user-view">Login sebagai tamu </a></p>
            </div>
            <button type="submit">Login</button>
        </form>
        
    </div>
</div>
